<template>
  <div class="box">
    <p>
      <slot></slot>
    </p>
  </div>
  </div>
</template>
<script>
  export default {}
</script>
<style>
  .box {
    background: grey;padding: 10px; border: 1px solid darkgray; margin-bottom: 2px;
  }
</style>
