<template>
  <div id="app">
    <counter></counter>
  </div>
</template>

<script>
  import Counter from './components/Counter';

  export default {
    name: 'app',
    components:{Counter},
    data() {

    }
  }
</script>

<style>

</style>
